<nav class="fixed-nav-bar">
  <a class="brand">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Poundexclam.svg/2000px-Poundexclam.svg.png" />
  </a>
  <a class="link" href="#">archive</a>
  <a class="link" href="#">projects</a>
</nav>

<div class="page-container">
  <div class="post">
    <h2 class="link"><a href="#">new blog</a></h2>
    <h2 class="link"><a href="#">new blog</a></h2>
    <h2 class="link"><a href="#">new blog</a></h2>
    <h2 class="link"><a href="#">sweet blog</a></h2>
    <h2 class="link"><a href="#">sweeter blog</a></h2>
    <h2 class="link"><a href="#">sweet blog</a></h2>
    <h2 class="link"><a href="#">sweeter blog</a></h2>
    <h2 class="link"><a href="#">sweet blog</a></h2>
    <h2 class="link"><a href="#">sweeter blog</a></h2>
  </div>
</div>
