<nav class="fixed-nav-bar">
  <a class="brand" href="/index.html">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Poundexclam.svg/2000px-Poundexclam.svg.png" />
  </a>
  <a class="link" href="/index.html">
    <img src="https://cdn2.iconfinder.com/data/icons/social-productivity-line-art-1/128/folder-128.png" />
  </a>
  <a class="link" href="/projects/index.html">
    <img src="https://cdn2.iconfinder.com/data/icons/social-productivity-line-art-1/128/history-128.png" />
  </a>
</nav>
