.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 50px;
  max-height: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px gray;
  line-height: 50px;

  li {
    display: inline-block;
    margin-right: 30px;

    img {
      height: 35px;
    }
  }

  .brand {
    float: left;
    height: 50px;
    margin-left: 10px;

    > img {
      height: inherit;
    }
  }
}

/* COLLAPSING STUFF */
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: max-content;
  float: right;
}

.show-menu { 
  display: none;
  flex: 1;
  max-width: max-content;
  float: right;
  margin-right: 20px;

  img {
    height: 15px;
  }

  #up {
    display: none;
  }
}

input[type=checkbox] {
  display: none;

  &:checked ~ #menu {
    display: block;
    text-align: center;
  }
}

/* MAKE SURE COLLAPSED NAVBAR CLOSES WHEN SCREEN
GETS BIGGER AGAIN */
@media screen and (max-width: 760px) {
  #menu {
    display: none;
    float: none;
    max-width: 100%;
  }

  #menu li, li a {
    width: 100%;
  }

  .show-menu {
    display: block;
  }
}
